@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  /* background-color: #f6f6f6; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input,
button {
  @apply border 
  text-[1em] 
  font-medium 
  text-white
  bg-[#0f0f0f98]
  duration-[0.25s] 
  shadow-[0_2px_2px_rgba(0,0,0,0.2)] 
  px-[1.2em] 
  py-[0.6em] 
  rounded-lg 
  border-solid 
  border-transparent;
  font-family: inherit;
  outline: none;
}

button {
  @apply active:bg-[#0f0f0f69]
  hover:border-[#396cd8]
  active:border-[#5485ee] 
    cursor-pointer;
}
button:hover {
  filter: drop-shadow(0 0 0.5em #396cd8);
}
